<h1>
    Personel Oluştur
</h1>

<form method="post">
    <div>
        <label>Id:</label>
        <input type="text" name="Id" />
    </div>

    <div>
        <label>Name:</label>
        <input type="text" name="Name" />
    </div>

    <div>
        <label>Writer:</label>
        <input type="text" name="Writer" />
    </div>

    <div>
        <label>Number Of Prints:</label>
        <input type="text" name="NumberPrints" />
    </div>

    <div>
        <label>Publication Language:</label>
        <input type="text" name="PublicationLanguage" />
    </div>
    <button type="submit">Oluştur</button>
</form>